html,body {
  padding: 0;
  margin: 0;
  font-family:  sans-serif;
  text-align: center;
}

.body{

padding: 0.5rem;
  margin: 0.5rem;	
}

.grad1 {
	width:100%;
    height: 100px;
    background: #041113; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#041113, #0B181B, #263031, #404E50); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#041113, #0B181B, #263031, #404E50); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#041113, #0B181B, #263031, #404E50); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#041113, #0B181B, #263031, #404E50); /* Standard syntax (must be last) */
  line-height: 100px;
}
.welcome{
	color:white;
    text-align: center;
   font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
   font-size: 1.5em;
   width: 100%
    
}

.viewDemo{
	color:#9E9E9E;
    text-align: right;
   font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
   font-size: 1em;
    width: 20%;
	float:right;
	cursor:pointer;
    
}

.popupcontent {
  display: none;
  position: absolute;
  left: 10%;
  width: 810px;
  height: 510px;
  padding: 25px;
  background-color:#f5f5f5;
  z-index: 1002;
  overflow: auto;
}

.closeButton{
	position:absolute; 
	top:0; 
	right:0;
	padding: 10px 10px;
	cursor:pointer;
	border: 1px solid #404E50;
	border-radius: 2px;
}

.loadFile{
	margin-top: 1rem;
	margin-left:auto;
	margin-right: auto;
	width: 50%;
}

#filestatus{
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 140%;
	margin-right: 5rem;
	margin-left: 5rem;
}

.alertSuccess{
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;

}

.alertError{
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}


.hidden {
        display: none;
    }

.argAddition{
	margin-top: .5rem;
	margin-left:auto;
	margin-right: auto;
	display:block;
	height: 180px;
	width: 40%;
}

.argAdditionIndiv{
	margin-top: 1.5rem;
	margin-right: auto;
	 display:block;
	width: 60%;
}

#args{
	
	margin-right: auto;
	width: 50%;
}

.result{
	margin-top:0;
	margin:auto;
	width: 25%;
}

#result{
	font-size: 120%;
	margin: auto;
	width: 50%;
}

.left{
	float: left;
}

.rightInput{
	float: right;
}

.right{
	margin-right:2rem;
}

.button{
    margin-top:.5rem;
    margin-bottom:.5rem;
 border-radius: 8px;
 cursor: pointer;
 border: 1px solid #404E50;
 background-color: #ffffff;
 padding: 3px 10px;
}

.button:hover {background-color: #dff0d8}

input[type="file"] {
   margin-top:.5rem;
 border-radius: 8px;
 cursor: pointer;
 background-color: #ffffff; 
 padding: 3px 10px;
}
